# Команда, яка виконується при натисканні на кнопку "Run"
run = "npm run dev"
modules = ["nodejs-20"]

# Секція для системних пакетів. Залишаємо тільки те, що потрібно.
[nix]
channel = "stable-24_05"

# Вказуємо, який порт з нашого додатку (5000)
# потрібно "виставити" назовні для прев'ю
[[ports]]
localPort = 5000
externalPort = 80
